.app-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-image: url('https://images.unsplash.com/photo-1631092863845-74abb29404b2?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=1080&ixid=MnwxfDB8MXxyYW5kb218MHx8aGFsbG93ZWVuLCBzcG9va3l8fHx8fHwxNjMzMDkyNzc5&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1920');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.top-section {
    text-align: center;
    padding: 100px 0;
    h1 {
        font-size: 120px;
        font-weight: bold;
        color: #f5f5f5;
        text-shadow: 0 1px 7px rgba(black, 0.12);
    }
    h2 {
        font-size: 28px;
        text-shadow: 0 1px 4px rgba(black, 0.1);
        color: white;
    }
}

.content-section {
    flex-grow: 1;
    min-height: 0;
}

.bottom-section {
    display: flex;
    app-tabs {
        margin: auto;
    }
}
