<div class="container">

  <div class="todos-wrapper">

    <div class="todo-item completed">
      <div class="check-box">
        <i class="material-icons-outlined">check</i>
      </div>
      <p class="todo-text">This is the todo text!</p>
    </div>

    <div class="todo-item">
      <div class="check-box">
        <i class="material-icons-outlined">check</i>
      </div>
      <p class="todo-text">A team of miners worked in secret to dig tunnels under the trenches during the war in order to plant and detonate mines there. The detonations destroyed much of the German front line and were so great, the prime minister then heard the sound in London, 140 miles away.</p>
    </div>

  </div>
</div>
